body {
    margin: 0;
    background-color: rgb(18, 18, 21);
    font-family: "Outfit", sans-serif;
    user-select: none;
    -webkit-user-drag: none;
    -moz-user-select: none;
    scroll-behavior: smooth;
}

img {
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    border: none;
    outline: none;
    display: block;
}

input {
    color: var(--color-text);
    border-radius: var(--radius);
    padding: 3px;
    border: var(--outline);
    outline: none;
    background-color: var(--color-input-fields);
    transition: background-color 0.2s ease-in-out;
}

input[type="button"] {
    cursor: pointer;
    padding: 2px 12px;
}

input[type="number"] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="button"].submission_button:hover {
    background-color: var(--color-input-button-hover);
}