@import url("./global.css");

body {
  margin: 0;
  background-color: rgb(18, 18, 21);
  font-family: "Outfit", sans-serif;
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  scroll-behavior: smooth;
}

img {
  user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  border: none;
  outline: none;
  display: block;
  vertical-align: middle;
}

.appname {
  color: white;
}

/* WARNINGS */
.g {
  color: var(--color-maroon);
  font-size: small;
}

/* CARD */
.card {
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 5px;
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.card-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px
}

.card-img {
  width: var(--image-size);
  height: var(--image-size);
  object-fit: cover;
  border-radius: 5px;
  user-select: none;
  pointer-events: none;
  border: none;
  outline: none;
  box-shadow: none;
  object-fit: cover;
  display: block;
}

.rating {
  display: flex;
  flex-direction: column;
}

.star-rating {
  display: flex;
  flex-direction: column;
  /* change to column if vertical */
  align-items: center;
  gap: 4px;
}

.star-label {
  color: white;
  font-size: 13px;
  margin-left: 4px;
}

.author-info {
  display: flex;
  align-items: center;
  gap: 6px;
}

.card-author {
  color: var(--color-muted);
  font-size: 14px;
}

#verifiedBadge {
  background-image: url("../images/verifieduser.svg");
  width: 20px;
  height: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  line-height: 1.2;
}

.card-description {
  color: var(--color-muted);
  margin-top: 4px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-height: 4.5em;
  font-size: 14px;
  line-height: 1.5;
}

.card-play {
  background-color: var(--color-accent);
  outline: none;
  width: 100%;
  max-width: 130px;
  height: 45px;
  padding: 0 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
  font-size: 16px;
  color: var(--color-text);
}

.card-play:hover {
  transform: scale(1.15);
}

/* Main */
#card-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 24px;
  row-gap: 70px;
  padding: 24px;
  max-width: 1200px;
  margin: 0 auto;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: grid;
  place-items: center;
  z-index: 999;
  padding: 50px;
  box-sizing: border-box;
}

.game_submission {
  /* padding: 20px; */
  border-radius: 5px;
  font-size: 20px;
  box-sizing: border-box;
  outline: none;
  border: none;
  background-color: var(--color-accent);
  color: white;
  font-family: "Outfit";
  transition: transform .2s ease-in-out;
}

.game_submission:hover {
  transform: scale(1.1);
  background-color: var(--color-accent);
}

form>h3 {
  margin: 0;
}

.popup>form {
  color: var(--color-text);
  background-color: var(--color-card);
  padding: 20px;
  border-radius: 10px;
  filter: drop-shadow(0px 0px var(--drop-shadow-blur) black);
  max-width: 350px;
  width: 100%;
}

form>div {
  margin-top: 15px;
  text-align: center;
  justify-items: center;
}

form>div>img {
  border-radius: 5px;
}

#game_submission_note {
  background-color: var9;
}

#submissions_game_preview {
  width: 150px;
}

.game_submission_note {
  background-color: var(--submission-note-bg);
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  border: 3px solid var(--submission-note-border);
  color: var(--color-muted);
  font-size: 12px;
}

.game_submission_note>p {
  margin: 0;
}

#game_submission_submit {
  background-color: var(--color-accent);
  color: var(--color-text);
  outline: none;
  border: none;
  padding: 10px 30px;
  cursor: pointer;
}

#game_submission_cancel {
  background-color: none;
  color: var(--color-text);
  /* outline: none; */
  /* border: none; */
  padding: 10px 30px;
  cursor: pointer;
}