@import url("./global.css");

:root {
    --radius: 5px;
    --outline: 2px solid grey;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input  {
    color: var(--color-text);
    border-radius: var(--radius);
    padding: 3px;
    border: var(--outline);
    outline: none;
    -moz-user-focus: none;
    background-color: var(--color-input-fields);
    transition: background-color .2s ease-in-out;

}

input[type=button] {
  cursor: pointer;
}

/* Pseudo */
input[type=button].submission_button:hover {
  background-color: var(--color-input-button-hover);
}