@import url("./global.css");

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input {
  color: var(--color-text);
  border-radius: var(--radius);
  padding: 3px;
  border: var(--outline);
  outline: none;
  background-color: var(--color-input-fields);
  transition: background-color 0.2s ease-in-out;
}

input[type="button"] {
  cursor: pointer;
  padding: 2px 12px;
  border: none;
  border-radius: var(--radius);
  outline: none;
}

input[type="number"].submission_placeId {
  height: 25px;
  padding: 0 10px;
}

.btn {
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
  border-radius: var(--radius);
  cursor: pointer;
  outline: none;
  border: none;
  transition: transform 0.2s ease-in-out;
}

.normal_button {
  color: var(--color-bg);
  background-color: var(--button-color-normal);
}

.nofill_button {
  color: var(--color-text);
  background-color: transparent;
  border: 2px solid white;
}

.game_submission {
  background-color: var(--color-accent);
  color: var(--color-text);
  font-family: "Outfit", sans-serif;
  border-radius: var(--radius);
  outline: none;
  border: none;
}

.submission_button.checked {
  color: var(--color-muted);
  cursor: not-allowed;
}