@layer popup;

:root {
    --popup-padding: 50px;
}

@layer popup {
    .popup {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5);
        display: grid;
        place-items: center;
        z-index: 999;
        padding: var(--popup-padding);
        box-sizing: border-box;
    }

    .popup>form {
        color: var(--color-text);
        background-color: var(--color-card);
        padding: 20px;
        border-radius: 10px;
        filter: drop-shadow(0px 0px var(--drop-shadow-blur) black);
        max-width: 350px;
        width: 100%;
    }

    form>h3 {
        margin: 0;
    }

    form>div {
        margin-top: 15px;
        text-align: center;
        justify-items: center;
    }

    form>div>img {
        border-radius: var(--radius);
    }

    #submissions_game_preview {
        width: 150px;
    }

    .game_submission {
        border-radius: var(--radius);
        font-size: 20px;
        box-sizing: border-box;
        outline: none;
        border: none;
        background-color: var(--color-accent);
        color: white;
        font-family: "Outfit";
        transition: transform 0.2s ease-in-out;
    }

    .game_submission:hover {
        transform: scale(1.1);
    }

    .game_submission_note {
        background-color: var(--submission-note-bg);
        padding: 0 20px;
        border-radius: var(--radius);
        border: 3px solid var(--submission-note-border);
        color: var(--color-muted);
        font-size: 12px;
    }

    .game_submission_note>p {
        margin: 0;
    }

    #game_submission_submit {
        background-color: var(--color-accent);
        color: var(--color-text);
        outline: none;
        border: none;
        padding: 10px 30px;
        cursor: pointer;
    }

    #game_submission_cancel {
        color: var(--color-text);
        padding: 10px 30px;
        cursor: pointer;
    }

    /* Game View Ppopup */

    .view_container {
        background-color: var(--color-card);
        padding: var(--popup-padding);
        width: 50%;
        color: white;
    }

    .view_container>#game_thumbnail {
        width: 50px;
    }
}